<div class="componenteLista">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-title">
          <h4 class="h4">Contactate con nosotros</h4>
        </div>
        <div class="datos">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Correo electronico: chc.remeras@gmail.com</li>
            <li class="list-group-item">Telefono: +54 9 3515065275</li>
            <li class="list-group-item">Comodoro Rivadavia</li>
            <li class="list-group-item">Chubut</li>
            <li class="list-group-item">Redes Sociales</li>
          </ul>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11127.86058218838!2d-67.469847!3d-45.791926!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ec4fc9dd9fe1235!2sCHC%20Remeras!5e0!3m2!1ses-419!2sar!4v1570517184394!5m2!1ses-419!2sar"
          width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>

    </div>

    <div class="col-sm-6 formulario">

      <div class="card">
        <div class="card-title">
          <h4 class="h4">Dudas y Sugerencias</h4>
        </div>
        <form action="">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Ingresa tu nombre">
          </div>
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Ingresa tu correo">
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Ingresa tu mensaje o comentario"></textarea>
          </div>
          <div class="botonform">
            <button class="btn btn-primary btn-block">Enviar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>