
<!-- <header>
        <nav>
            <div class="d-flex">
                <div class="mr-auto p-2"><a class="" routerLink="/"><img src="assets\logochc.png"  class="animated infinite pulse delay-2s" width="75px" alt=""></a></div>
                <br>
                
                <div class="p-2"><a class="btn m-1" routerLink="remeras">remeras</a></div>
                
                <div class="p-2"><a class="btn m-1" routerLink="carrito">carrito<span class="badge badge-pill badge-danger">{{servicio.contador}}</span></a></div>

                <div class="p-2"><a class="btn m-1" routerLink="hola">?</a> </div>
            </div>
        </nav>
    </header> -->

    <div class="mr-auto p-2"><a class="m-2" routerLink="/"><img src="assets\logochc.png" width="80px" alt=""></a></div>

<ul>
    
    <a routerLink="/">Home</a>
    <a routerLink="remeras">Remeras</a>
    <a routerLink="hola">?</a>
    <a routerLink="carrito">Carrito <span class="badge badge-pill badge-danger">{{servicio.contador}}</span></a>

</ul>