
<div class="componenteInicio">

  <!-- <div class="animated fadeIn delay-500ms"> -->

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Unicas, como vos</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsam odit
              exercitationem cumque quas esse, nobis ullam reprehenderit nostrum dolores quod, praesentium ab explicabo
              reiciendis sunt aspernatur, quasi debitis fugiat!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <img src="assets\manchas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diseños personalizados</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <img src="assets\remeras.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diseños personalizados</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Unicas, como vos</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsam odit
              exercitationem cumque quas esse, nobis ullam reprehenderit nostrum dolores quod, praesentium ab explicabo
              reiciendis sunt aspernatur, quasi debitis fugiat!</p>
          </div>
        </div>
      </div>
    </div>

  <!-- </div> -->
</div>